﻿@model DocumentUploadModel

<div class="card">
<div class="card-header">
    <button class="btn btn-primary" data-toggle="collapse" data-target="#collapseForm" aria-expanded="false" aria-controls="collapseForm">
        <span class="fa fa-plus"></span>
        Upload new document
    </button>
</div>
    <div class="card-body collapse" id="collapseForm">
        @using (Html.BeginForm("UploadDocument", "Document", FormMethod.Post, new { enctype = "multipart/form-data", id = "uploadDocument" }))
        {
            <div class="form-group">
                @Html.LabelFor(m => m.Comment)
                @Html.TextBoxFor(m => m.Comment, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.File)
                @Html.TextBoxFor(m => m.File, new { @class = "form-control", type = "file", id = "fileSelect" })
            </div>
            <button type="submit" class="btn btn-primary mb-3">Upload document</button>
        }
    </div>
</div>

<script>
    (function () {
        $("#uploadDocument").on("submit", e => {
            e.preventDefault();
            let file = $("#fileSelect").get(0);
            var formData = new FormData(e.target);
            if (file.files.length > 0) {
                $.ajax({
                    url: "/Document/UploadDocument",
                    data: formData,
                    contentType: false,
                    processData: false,
                    method: "POST",
                    success: d => {
                        if (d.result) {
                            GridView.Refresh();
                        }
                    }
                });
            }
        });
    })();
</script>


