﻿@model string

<div id="documentGrid">
    <div class="row">
        <div class="col-3">
            @Html.DevExpress().ListBox(
                   settings =>
                   {
                       settings.Name = "list";
                       settings.Properties.EnableClientSideAPI = true;
                       settings.Width = Unit.Percentage(100);
                       settings.Height = 150;
                       settings.Properties.SelectionMode = ListEditSelectionMode.CheckColumn;
                       settings.Properties.ValueType = typeof(string);
                   }).GetHtml()
        </div>
        <div class="col-9">
            <div>
                @Html.Partial("_UploadDocument", new DocumentUploadModel())
            </div>
            <div>
                @Html.Action("GridViewPartial")
            </div>
        </div>
    </div>
</div>
<div id="textEditor" hidden>
    <div>
        <button id="returnButton" type="button" class="btn btn-primary"><span class="fa fa-arrow-circle-left"></span>Return to list</button>
        @using (Html.BeginForm())
        {
        <div id="editorContainer">
        </div>
        }
    </div>
</div>

<script>
    function loadDocument(id) {
        $.ajax({
            url: "Document/GetDocumentEditor",
            data: {
                id: id
            },
            success: markup => {
                $("#documentGrid").prop("hidden", true);
                $("#editorContainer").html(markup);
                $("#textEditor").prop("hidden", false);
            }
        });
    }

    $("#returnButton").on("click", e => {
        $("#documentGrid").prop("hidden", false);
        $("#textEditor").prop("hidden", true);
    });
</script>

