﻿@model LoginModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (@Html.BeginForm("Login", "Auth", FormMethod.Post))
{
    <div class="bg-danger mt-2">
        @Html.ValidationSummary(false)
    </div>
    @Html.HiddenFor(m => m.ReturnUrl);
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
}


