﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta encoding="utf-8" />
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/app.js"></script>
    <link rel="stylesheet" href="~/Styles/shared/bootstrap.css" />
    <link rel="stylesheet" href="~/Styles/shared/bootstrap-grid.css" />
    <link rel="stylesheet" href="~/Styles/shared/bootstrap-reboot.css" />
    @Html.DevExpress().GetStyleSheets(
                new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout, Theme = "Office365" },
                new StyleSheet { ExtensionSuite = ExtensionSuite.Editors, Theme = "Office365" },
                new StyleSheet { ExtensionSuite = ExtensionSuite.GridView, Theme = "Office365" },
                new StyleSheet { ExtensionSuite = ExtensionSuite.RichEdit, Theme = "Office365" },
                new StyleSheet { ExtensionSuite = ExtensionSuite.Spreadsheet, Theme = "Office365" },
                new StyleSheet { ExtensionSuite = ExtensionSuite.HtmlEditor, Theme = "Office365" }
            )
    @Html.DevExpress().GetScripts(
                new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
                new Script { ExtensionSuite = ExtensionSuite.Editors },
                new Script { ExtensionSuite = ExtensionSuite.GridView },
                new Script { ExtensionSuite = ExtensionSuite.RichEdit },
                new Script { ExtensionSuite = ExtensionSuite.Spreadsheet },
                new Script { ExtensionSuite = ExtensionSuite.HtmlEditor }
            )
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Document storage</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    @if (WebAppEmptyMVC5.Helpers.AuthHelper.IsAuthenticated)
                    {
                        <li class="nav-item">
                            @Html.ActionLink("Sign out", "Logout", "Auth", null, new { @class = "nav-link" })
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            @Html.ActionLink("Sign in", "Login", "Auth", null, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Register", "Register", "ManageUser", null, new { @class = "nav-link" })
                        </li>
                    }
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
        @RenderBody()
    </div>
</body>
</html>
