﻿@model IEnumerable<string>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if(Model != null)
{
    <strong>There was errors:</strong>
    <ul>
        @foreach(var error in Model)
        {
            <li>@error</li>
        }
    </ul>
}
else
{
    <strong>Your have confirmed the email address successfully</strong>
}
