﻿@model WebAppEmptyMVC5.Models.ViewModels.UserRegistrationModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (@Html.BeginForm("Register", "ManageUser", FormMethod.Post))
{
    <div class="bg-danger">
        @Html.ValidationSummary(false)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.PasswordRepeat)
        @Html.PasswordFor(m => m.PasswordRepeat, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.EmailRepeat)
        @Html.TextBoxFor(m => m.EmailRepeat, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Address)
        @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
}

